#page-landing{
    background:linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%); /* estabelecer um degradê de uma cor/opacidade até a outra, rotacionado em x graus  - adicionar um "no-repeat no fim*/
    text-align: center;
    min-height:100vh; /*viewport height = altura da janela de exibição (100vh = 100% da janela)*/
    display:flex; 
    /*displays fora da caixa: block, inline
     displays dentro da caixa: flex, grid
     o flex alinha, entre si, todos os elementos dentro da caixa*/
}

#container{
    margin: auto;
    width: min(90%, 112rem)
}

#logo{
    animation-delay: 50ms;
}

.location{
    animation-delay:100ms;
}

main h1{
    animation-delay: 150ms;
}

.location, h1, .visit p{
    height: 16vh;
}

.visit p{
    animation-delay:200ms;
}

.visit a{
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius:3rem;
    display: flex;
    align-items: center;
    margin:auto;
    justify-content:center;
    transition: background 200ms ease-in-out;
    animation-delay:250ms;
}

.visit a:hover{
    background: #96feff;
}

/*desktop version*/
@media(min-width:760px){
    #container{
        padding: 5rem 2rem;
        /*shorthand background: image, no-repeat positioning/size*/
        background: url(../images/bg.svg) no-repeat 80% /clamp(30rem, 54vw, 56rem);
        /* background-position: center; eixo x e y */
        /* "../" para sair da pasta atual*/
    }
    
    header{
        display:flex;
        align-items:center;
        justify-content: space-between;
    }
    
    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location{
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1{
        font-size:clamp(4rem, 8vw, 8.4rem); /*mínimo, ideal, máximo*/
        font-weight: bold;
        line-height: 0.88;
        margin: clamp(10%, 9vh, 12%) 0 4rem;
        width: min(300px, 80%);
    }

    .visit{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit a{
        margin:initial;
    }

    .visit p{
        line-height: 1.2;
        font-size: 2.4rem;
        width: clamp(20rem, 20vw, 30rem)
    }
}
/*só é valido se preencher o requisito da min-width*/